<footer class="text-center text-white mt-4" style="background-color: #fdcf00">
    <hr class="text-dark">
    
    <div class="container">
      <!-- Section: Social media -->
      <section class="mb-3">
        
        <!-- Facebook -->
        <!--
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark">
          <i class="fab fa-facebook-f"></i>
        </a>
        -->
  
        <!-- Twitter -->
        <!--
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i></a>
        -->
  
        
        <!-- Google -->
        <!--
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-google"></i
        ></a>
        -->
  
        <!-- Instagram -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="https://www.instagram.com/yulia_ratsa/"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- YouTube -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="https://youtube.com/@annisaeat"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-youtube"></i
        ></a>
        <!-- Github 1-->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="https://github.com/annisaeat"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
        <!-- Github 2-->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="https://github.com/YuliaRatsa"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(211, 181, 11); text-color: #4400ff">
      © <script>document.write(new Date().getFullYear());</script>
      | This website is made by Group 7 - Class O - Women In Tech : Python and Cybersecurity <!--<i class="fas fa-heart text-danger"></i>-->
    </div>
    <!-- Copyright -->
  </footer>
